<ion-header>
    <ion-navbar color="success">
       <ion-buttons style="float:left">
            <button ion-button icon-only   (click)="onOpenMenu()">
              <ion-icon name="menu"></ion-icon>
            </button>
          </ion-buttons>
      <ion-title>Contact Us</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content class="scroll-content">
  <ion-list>
<ion-item >
  <div>
      <h2 ><ion-icon color="grey" name="contact"></ion-icon><span class="bb-span">Call Us</span> </h2><br>
      <h3>+2626952601</h3>
    </div>
 </ion-item>
 <ion-item>
    <div >
        <h2 ><ion-icon color="grey" name="mail"></ion-icon><span class="bb-span">Mail Id</span> </h2><br>
        <h3>info@bodybylekan.com</h3>
        </div>
 </ion-item>
 <ion-item >
    <div>
        <h2><ion-icon color="grey" name="locate"></ion-icon><span class="bb-span">Address</span> </h2><br>
          <p text-wrap>Oakridge Hall, Cherry Tree Walk, RG21 5RL Basingstoke</p>
          </div>
</ion-item>
</ion-list>
    <ion-card class="wlcm-crd">
            <div>
                <h2 style="height: 40px;text-align: center; color: #fff">Interested in discussing?</h2>
            </div>

          
      <ion-card-content>
          <form novalidate  [formGroup]="contactusform">
              <ion-item class="wlcm-abc">
                <ion-label ><ion-icon color="white" name="contact"></ion-icon>Username <span style="color: red">*</span></ion-label>
                <ion-input type="text" [(ngModel)]="userData.name"
                formControlName="name" [class.error1]="!contactusform.controls.name.valid && contactusform.controls.name.dirty"></ion-input>
              </ion-item>
              <ion-item class="wlcm-itm" no-lines *ngIf="( contactusform.get('name').hasError('minlength') || contactusform.get('name').hasError('maxlength') ||contactusform.get('name').hasError('pattern') ||contactusform.get('name').hasError('required') ) && contactusform.get('name').touched">
                <div class="error" *ngIf="contactusform.get('name').hasError('required') && contactusform.get('name').touched">
                  Please enter your name
                </div>
                <div class="error" *ngIf="contactusform.get('name').hasError('minlength') && contactusform.get('name').touched">
                  Minimum 4 characters
                </div>
                <div class="error" *ngIf="contactusform.get('name').hasError('maxlength') && contactusform.get('name').touched">
                  Maximum 30 characters
                </div>
                <div class="error" *ngIf="contactusform.get('name').hasError('pattern') && contactusform.get('name').touched">
                  pattern Your name must contain alphabets and spaces only
                </div>
              </ion-item>
              
              <ion-item class="wlcm-abc">
                <ion-label ><ion-icon color="white" name="mail"></ion-icon>Email<span style="color: red">*</span></ion-label>
                <ion-input type="email" [(ngModel)]="userData.user"
                formControlName="user" [class.error1]="!contactusform.controls.user.valid && contactusform.controls.user.dirty">
                </ion-input>
              </ion-item>
              <ion-item class="wlcm-itm" no-lines *ngIf="( contactusform.get('user').hasError('minlength') || contactusform.get('user').hasError('pattern') ||contactusform.get('user').hasError('required') ) && contactusform.get('user').touched">
                <div class="error" *ngIf="contactusform.get('user').hasError('required') && contactusform.get('user').touched">
                  Please enter your email
                </div>
                <div class="error" *ngIf="contactusform.get('user').hasError('pattern') && contactusform.get('user').touched">
                  This value should be a valid email
                </div>
              </ion-item>
              <ion-item class="wlcm-abc">
                <ion-label><ion-icon color="white" name="book"></ion-icon>Subject <span style="color: red">*</span></ion-label>
                <ion-input type="text" [(ngModel)]="userData.subject"
                formControlName="subject" [class.error1]="!contactusform.controls.subject.valid && contactusform.controls.subject.dirty"></ion-input>
              </ion-item>
              <ion-item class="wlcm-itm" no-lines *ngIf="(contactusform.get('subject').hasError('required') && contactusform.get('subject').touched)">
                <div class="error" *ngIf="contactusform.get('subject').hasError('required') && contactusform.get('subject').touched">
                 Please enter your Subject
                </div>
                
              </ion-item>
              <ion-item class="wlcm-abc">
                <ion-label><ion-icon color="white" name="call"></ion-icon>Phone <span style="color: red">*</span></ion-label>
                <ion-input type="number" [(ngModel)]="userData.phone"
                formControlName="phone" [class.error1]="!contactusform.controls.phone.valid && contactusform.controls.phone.dirty"></ion-input>
              </ion-item>
              <ion-item class="wlcm-itm" no-lines *ngIf="((( contactusform.get('phone').hasError('minlength') || contactusform.get('phone').hasError('maxlength')) || contactusform.get('phone').hasError('pattern')) ||contactusform.get('phone').hasError('required') ) && contactusform.get('phone').touched">
                <div class="error" *ngIf="contactusform.get('phone').hasError('required') && contactusform.get('phone').touched">
                  Please enter your Phone
                </div>
                <div class="error" *ngIf="contactusform.get('phone').hasError('minlength') && contactusform.get('phone').touched">
                  This value is too short. It should have 10 characters or more
                </div>
                <div class="error" *ngIf="contactusform.get('phone').hasError('maxlength') && contactusform.get('phone').touched">
                  This value is too long. It should have 12 characters.
                </div>
                <div class="error" *ngIf="contactusform.get('phone').hasError('pattern') && contactusform.get('phone').touched">
                    This value should be a valid Phone
                </div>
              </ion-item>
              <ion-item class="wlcm-abc">
                  <ion-label><ion-icon color="white" name="chatboxes"></ion-icon>Message</ion-label>
                  <ion-textarea type="text" [(ngModel)]="userData.message"
                  formControlName="message" ></ion-textarea>
              </ion-item>
                
              <div class="frgt-area">
              <button class="button-md-success" ion-button round [disabled]="contactusform.invalid" (click)="register()">Send</button>
              
            </div>  
            </form>
      </ion-card-content>
    </ion-card>
</ion-content>
