
<ion-header>
    <ion-navbar color="success">
       <ion-buttons style="float:left">
            <button ion-button icon-only   (click)="onOpenMenu()">
              <ion-icon name="menu"></ion-icon>
            </button>
          </ion-buttons>
      <ion-title>Pricing</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
<ion-list>
     <ion-item>
           
                <h1 ion-text color="primary" style="text-align: center">Chose Your Bootcamp Plan</h1> <br>
               
                        <img src="assets/imgs/under-lie.png" class="logo"/>
               
    </ion-item>
    <ion-item *ngFor ="let price of priceDetails; let i = index">
            <ion-card>
                   <ion-item class="half-batch">
                        <div class="plan-batch bch-3" ion-text color="white">{{price.training_name}}</div>
                        <ion-row >
                            <ion-col col-auto style="width: 100%">
                              <h2 *ngIf="price.validity_duration != null" ion-text color="white" style="text-align: center">{{price.validity_duration}} DAYS</h2>
                              <h2 *ngIf="price.validity_duration == null" ion-text color="white" style="text-align: center">VALIDITY N/A</h2>
                          </ion-col>
                          </ion-row>
                          <ion-row >
                            <ion-col col-auto style="width: 100%;text-align: center">
                              <ion-badge  color="white" class="badge"><ion-icon small name="logo-usd"></ion-icon>{{price.total_price}}</ion-badge>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                                <ion-col col-auto style="width: 100%;text-align: center">
                                        <h2 ion-text color="yyy">{{price.payment_type_name}}</h2>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-auto style="width: 100%;text-align: center">
                                        <h2 *ngIf="price.validity_duration != null" ion-text color="white">Contract-{{price.validity_duration}}</h2>
                                        <h2 *ngIf="price.validity_duration == null" ion-text color="white">Contract-N/A</h2>
                                </ion-col>
                            </ion-row>
                     
                   </ion-item>
                   <img src="assets/imgs/arrow.png" class="barrow"/>
                   <ion-item class="another-half-batch">
                
                        <ion-row >
                            <ion-col col-auto style="width: 100%;text-align: center">
                              <h1 ion-text color="green">{{price.total_sessions}} Sessions</h1>
                          </ion-col>
                          </ion-row>
                          <div class="frgt-area">
                                <button class="subs" ion-button round (click)="subscribe(price)">Subscribe</button>
                         </div>
                   </ion-item>
          
                </ion-card>
    </ion-item>
</ion-list>
</ion-content>
