page-pricing {
    .logo{
        height: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
    .barrow{
        //height: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;  
        width: 32px;
        position: absolute;
        z-index: 999;
        left: 0;
        right: 0;
        bottom: 106px;
    }
    .plan-batch {
        position: absolute;
        top: 17px;
        left: -46px;
        padding: 0;
        transform: rotate(-45deg);
        text-align: center;
        width: 150px;
        height: 25px;
        line-height: 25px;
    }
    .plan-batch.bch-3 {
        background: #f69606;
    }
    .half-batch{
        background: #3d3347; 
    }
    .another-half-batch{
        background: #ebeeef; 
    }
    .frgt-area{
        text-align: center;
    }
    .badge {
        padding: 3px 8px;
        text-align: center;
        display: inline-block;
        min-width: 110px;
        font-size: 2.3rem;
        font-weight: bold;
        line-height: 1;
        white-space: nowrap;
        vertical-align: baseline;
    }
    .subs{
    color: #fff;
    background-color: #fb5b21;
    width: 175px;
    border: 2px solid #fff;
}


}
