page-pricing-subscribe {
    .frgt-area{
        text-align: center;
        background: none;
    }
    .scroll-content {
        background-color: #252631; 
      }
      .scroll-content strong{
        font-size: 21px;
      }
      .scroll-content ion-item{
          background-color: transparent;
      }
      
      .wlcm-abc{
        background: none;
        padding-left: 0;
        border-bottom: 1px solid rgba(255,255,255,0.5);
        margin-bottom: 10px;
    }
    .wlcm-crd {
        background: none;
        box-shadow: none;
    }
    .button-md-success {
        color: #fff;
        background-color: #fb5b21;
        width: 190px;
        border: 2px solid #fff;
    }
    .pricing .item-radio-checked ion-label {
        color: #fb5b21 !important;
    }
    .pricing ion-radio .radio-checked {
        border-color: #ffffff;
    }

    .pricing ion-radio .radio-inner {
        background: #fb5b21;
    }
    .frgt-area5{
        text-align: center;
        background: none;
    }
    .button-mmm-success {
        color: #fff;
        background-color: #fb5b21;
        width: 59px;
        height: 20px;
        border: 2px solid #fff;
    }
    .ii-input{
        border-radius: 30px !important;
        border: 2px solid #fff;;
        width: 200px;
       text-align: center;
       background-color: #63463c;
       margin-left: 80px;
    }
    .ii-text{
        text-decoration: line-through;
    }
    // .mm-item ion-option{
    //     color: #fff
    // }
}
