page-view-bookings {
    .scroll-content {
        background-color: #252631; 
      }
      .scroll-content ion-item{
        background-color: transparent;
      }
      .scroll-content strong{
        font-size: 21px;
      }
    //   .vw-bkngs h2 {
    //     float: left;
    //     width: 33%;
    // }
}
