page-forget-password {
    .error2 {
        color: rgb(75, 75, 75);
        border-bottom: 1px solid #ff0000;
      }
      .error1 {
        color: rgb(75, 75, 75);
        border-bottom: 1px solid #ff0000;
      }
    #welcome{
        // background: color($colors, energy);
        h3{
            font-size: 25px;
            margin-top:50px;
            text-align: center;
        }
        .marginTop{
            margin-top:150px;
        }
        .logo{
            height: 80px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 100px;
            
        }
        h4{
            margin-top:0px;
            font-size: 15px;
        }
    }
    .scroll-content {
        background-image: url('../../assets/imgs/home.png');
        background-size: cover;
        background-position: center top;
        width: 100%;
       // background: image(assets/imgs/bg-ban-seller);
        //background-color: rgb(110, 23, 2);
      }
      .wlcm-crd {
        background: none;
        box-shadow: none;
    }
    .wlcm-itm{
        background: none;
        padding-left: 0
    }
    .wlcm-abc{
        background: none;
        padding-left: 0;
        border-bottom: 1px solid rgba(255,255,255,0.5);
        margin-bottom: 29px;

    }
    .wlcm-crd ion-card-content {
        padding: 0;
    }
    .wlcm-crd input {
        color: #f3ecec;
    }
    .wlcm-itm .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
        -webkit-box-shadow: inset 0 -1px 0 0 #ffffff;
        box-shadow: inset 0 -1px 0 0 #ffffff;
    }
    .item-input-has-focus {
        -webkit-box-shadow: inset 0 -1px 0 0 #ffffff !important;
        box-shadow: inset 0 -1px 0 0 #ffffff !important;
    }
    .button-ios-success {
        background-color: #ffffff;  
      }
    .wlcm-crd ion-label{
        color:#ffffff !important;
    }
    .wlcm-crd ion-icon{
        text-decoration: none;
        margin-right: 15px;
        width: 24px;
        font-size: 24px;
    }
    .frgt-area{
        text-align: center;
    }
    .header-color .toolbar-background-md {
        border-color: none;
        background: none;
    }
    .header-color .back-button-icon-md {
        color: #fff;
    }
    .error {
        font-size: 13px;
        color: #e3e0e0;
    }
    .button-md-success {
        color: #fff;
        background-color: #fb5b21;
        width: auto;
        border: 2px solid #fff;
    }
    .wlcm-crd .button-md-success {
        height: 45px;
    }
}
