<ion-header class="header-color">

  <ion-navbar >
  </ion-navbar>

</ion-header>
<ion-content padding id="welcome" class="scroll-content">
  <div ion-fixed> 
  <ion-row>
    <ion-col>
      <img src="assets/imgs/icon.png" class="logo"/>
      
    </ion-col>
  </ion-row>
    <ion-card class="wlcm-crd">
     <ion-card-content>
      <ion-list>
        <form novalidate [formGroup]="forgetPasswordform">
              <ion-item class="wlcm-abc">
                <ion-label><ion-icon color="white" name="mail"></ion-icon>Email id:</ion-label>
                <ion-input type="email" [(ngModel)]="userData.email"
                formControlName="email" [class.error1]="!forgetPasswordform.controls.email.valid && forgetPasswordform.controls.email.dirty"
                ></ion-input>
                <!-- <button *ngIf="!( forgetPasswordform.get('email').hasError('pattern') ||forgetPasswordform.get('email').hasError('required') ) && !buttonClicked && otpButton" 
                ion-button  clear item-right (click)="sendOtp()">Send OTP</button> -->
              </ion-item>
              <ion-item class="wlcm-itm" no-lines *ngIf="( forgetPasswordform.get('email').hasError('minlength') || forgetPasswordform.get('email').hasError('pattern') ||forgetPasswordform.get('email').hasError('required') ) && forgetPasswordform.get('email').touched">
                <div class="error" *ngIf="forgetPasswordform.get('email').hasError('required') && forgetPasswordform.get('email').touched">
                  Please enter your email or phone
                </div>
                <div class="error" *ngIf="forgetPasswordform.get('email').hasError('pattern') && forgetPasswordform.get('email').touched">
                  This value should be a valid email or valid phone no.
                </div>
              </ion-item>
              <div class="frgt-area">
              <button class="button-md-success" type="submit" ion-button round  [disabled]="forgetPasswordform.invalid" (click)="forgetPassword()">Send Password Reset Link</button>
              </div>
            </form>
       </ion-list>
     </ion-card-content>
      </ion-card>
      </div>
       </ion-content>