page-exercise {
    .logo{
        height: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
    .ss-iframe{
        height: auto;
        width: auto;
       vertical-align: -webkit-baseline-middle;
    }
    .button-outline-md {

        color: #488aff;
        border: none;
    }

}
