page-viewbootcamp-purchase {
    .scroll-content {
        background-color: #252631; 
      }
      .scroll-content strong{
        font-size: 21px;
      }
      .scroll-content ion-item{
        background-color: transparent;
      }
}
